@font-face {
    font-family: 'Poppins';
    src: url('./assets/src/fonts/Poppins-Bold.woff2') format('woff2'),
        url('./assets/src/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/src/fonts/Poppins-Regular.woff2') format('woff2'),
        url('./assets/src/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body section{
  font-family: 'Poppins', sans-serif;
  color: white;
  /* Add other styles for the body */
}

/*Navbar and Hero*/
#hero {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/src/img/hero-img.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 90vh;
	width: auto;
}

nav .btn{
	color: white;
}

.navbar-nav .dropdown-toggle:hover {
    color: white;
}

.navbar-brand h2 {
	font-weight: bold;
  	font-style: normal;
}

#travel-text {
	color: #E6FF99;
}

.rounded-circle {
	height: 32px;
	width: 32px;
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.facebook {
	background-color: orange;
}

.bi-facebook {
	color: white;
}

.bi-twitter, .bi-instagram {
	color: gray;
}

.divider {
	border: 0.5px solid white;
	margin: 0;
}

.title {
	font-size: 3.8vw;
	font-weight: bold;

}

#search-bar {
	height: 70px;
	max-width: 800px;

	border-radius: 28px;
}

#hero-info {
	max-width: 850px;
}

.callout {
	color: #E6FF99;
}

/*Ending of Navbar and Hero*/